.resourceDeployment {
    height: calc(100vh - 200px);
    overflow-y: auto;
    .conditions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .cardItem {
            margin-top: 20px;
            margin-right: 1%;
            width: 19%;
        }
        .cardItem:nth-of-type(5n) {
            margin-right: 0;

        }
        p {
            margin-bottom: 0;
        }
        :global {
            .ant-card-body {
                padding: 12px
            }
        }
    }
    .pagination {
        width: 100%;
        position: fixed;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        justify-content: center;
    }
}